<a href="https://colab.research.google.com/github/srinivas1226/DMDW/blob/main/dmdw_l1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) mean and median

In [ ]:
l=[12,35,18,9,56,24]
n=0
p=0
for c in l:
  p=p+1
print(p)
for x in range(0,p):
  n=n+l[x]
print(n)
print(n/p)

6
154
25.666666666666668

In [1]:
import pandas  as pd

In [2]:
data={'Name': ['a','b'],'Roll':[10,12],'Age':[20,12]}
df=pd.DataFrame(data,columns=['name','Roll','Age'])
print(df)
print(df['Age'])
print(df['Roll'])

  name  Roll  Age
0  NaN    10   20
1  NaN    12   12
0    20
1    12
Name: Age, dtype: int64
0    10
1    12
Name: Roll, dtype: int64